/* Variables */
/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  text-align: center;
}

section .container {
  padding: 120px 0;
}

.btn {
  background: #fdd135;
  color: #fff;
  text-decoration: none;
  padding: 25px 60px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.section-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.section-subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-style: italic;
  color: #777777;
  margin: 0 0 60px 0;
}

/* Navigation */
.navigation {
  font-family: "Montserrat", sans-serif;
  padding: 50px 0 0 0;
}

.navigation .logo {
  float: left;
}

.navigation i {
  display: none;
}

.navigation ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: right;
  z-index: 2;
}

.navigation ul li {
  display: inline-block;
  margin: 0 40px 0 0;
}

.navigation ul li:last-of-type {
  margin: 0;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 28px;
}

.navigation ul li a:hover {
  color: #fdd135;
}

/* Header */
.header {
  background: url("../images/header.png");
  height: 700px;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  content: '';
  z-index: -1;
}

.header-inner {
  position: absolute;
  width: 100%;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-inner h1 {
  margin: 80px 0 20px 0;
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-size: 40px;
}

.header-inner h2 {
  margin: 0 0 60px 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75px;
}

/* Services */
.services i {
  color: #fdd135;
  border: 3px solid #fdd135;
  border-radius: 50%;
  font-size: 35px;
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.services p:first-of-type {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.services p:last-of-type {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
}

.services-item {
  margin: 0 0 20px 0;
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
}

.portfolio-item {
  margin: 0 0 40px 0;
}

.portfolio-item img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio-description {
  background: #fff;
  width: 300px;
  margin: 0 auto;
}

.portfolio-description p {
  margin: 0;
}

.portfolio-description p:first-of-type {
  font-family: "Montserrat", sans-serif;
  padding: 20px 0 0 0;
  font-weight: bold;
  font-size: 18px;
}

.portfolio-description p:last-of-type {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  color: #777777;
  padding: 0 0 20px 0;
}

/* Media */
@media (max-width: 767px) {
  .btn {
    padding: 12px 30px;
    font-size: 14px;
  }
  .header {
    height: 100vh;
  }
  .header-inner h1 {
    margin: 40px 0 10px 0;
    font-size: 20px;
  }
  .header-inner h2 {
    margin: 0 0 50px 0;
    font-size: 40px;
  }
  .navigation {
    padding: 50px 20px 0 20px;
  }
  .navigation i {
    display: block;
    color: #fff;
    line-height: 28px;
    float: right;
    cursor: pointer;
  }
  .navigation ul {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 3;
    padding: 20px 0;
  }
  .navigation ul li {
    margin: 0;
    display: block;
  }
  .navigation .open {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-inner h1 {
    font-size: 30px;
  }
  .header-inner h2 {
    font-size: 50px;
  }
}
/*# sourceMappingURL=style.css.map */